In [30]:
pip install seaborn

Requirement already satisfied: seaborn in c:\users\elias\anaconda3\envs\nlp\lib\site-packages (0.12.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\elias\anaconda3\envs\nlp\lib\site-packages (from seaborn) (1.24.3)
Requirement already satisfied: pandas>=0.25 in c:\users\elias\anaconda3\envs\nlp\lib\site-packages (from seaborn) (2.1.0)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\elias\anaconda3\envs\nlp\lib\site-packages (from seaborn) (3.8.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\elias\anaconda3\envs\nlp\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.1.1)
Requirement already satisfied: cycler>=0.10 in c:\users\elias\anaconda3\envs\nlp\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\elias\anaconda3\envs\nlp\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.42.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\elias\anaconda3\envs\nlp\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\elias\anaconda3\envs\nlp\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\elias\anaconda3\envs\nlp\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (10.0.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\elias\anaconda3\envs\nlp\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\elias\anaconda3\envs\nlp\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\elias\anaconda3\envs\nlp\lib\site-packages (from pandas>=0.25->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\elias\anaconda3\envs\nlp\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\elias\anaconda3\envs\nlp\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [31]:
import pandas as pd
import seaborn as sns

In [32]:
import os

def count_files(path):
    count = 0
    for folder, subfolders, files in os.walk(path):
        for subfolder in subfolders:
            subfolder_path = os.path.join(folder, subfolder)
            file_count = len(os.listdir(subfolder_path))
            count += file_count
            print(f"{subfolder_path}: {file_count} files")
    return count

count_files('../data/data/en')

../data/data/en\dev-articles-subtask-1: 83 files
../data/data/en\dev-articles-subtask-2: 83 files
../data/data/en\dev-articles-subtask-3: 90 files
../data/data/en\dev-labels-subtask-3: 180 files
../data/data/en\dev-labels-subtask-3-spans: 90 files
../data/data/en\test-articles-subtask-1: 54 files
../data/data/en\test-articles-subtask-2: 54 files
../data/data/en\test-articles-subtask-3: 54 files
../data/data/en\train-articles-subtask-1: 433 files
../data/data/en\train-articles-subtask-2: 433 files
../data/data/en\train-articles-subtask-3: 447 files
../data/data/en\train-labels-subtask-3: 892 files
../data/data/en\train-labels-subtask-3-spans: 446 files

3339

## Visualize the data for subtask 1

In [33]:
article_id = "111111111"

In [34]:
# read the article line 1 is the title, line 2 is the content

def read_article(path):
    with open(path, 'r', encoding='utf-8') as file:
        lines = file.readlines()
        title = lines[0]
        content = lines[2:]
        return title, content
    
title, content = read_article(f"../data/data/en/train-articles-subtask-1/article{article_id}.txt")

print(title)
print(content)

Next plague outbreak in Madagascar could be 'stronger': WHO

['Geneva - The World Health Organisation chief on Wednesday said a deadly plague epidemic appeared to have been brought under control in Madagascar, but warned the next outbreak would likely be stronger.\n', '\n', '"The next transmission could be more pronounced or stronger," WHO Director-General Tedros Adhanom Ghebreyesus told reporters in Geneva, insisting that "the issue is serious."\n', '\n', 'An outbreak of both bubonic plague, which is spread by infected rats via flea bites, and pneumonic plague, spread person to person, has killed more than 200 people in the Indian Ocean island nation since August.\n', '\n', 'Madagascar has suffered bubonic plague outbreaks almost every year since 1980, often caused by rats fleeing forest fires.\n', '\n', 'The disease tends to make a comeback each hot rainy season, from September to April. On average, between 300 and 600 infections are recorded every year among a population approaching 25 million people, according to a UN estimate.\n', '\n', 'But Tedros voiced alarm that "plague in Madagascar behaved in a very, very different way this year."\n', '\n', 'Cases sprang up far earlier than usual and, instead of being confined to the countryside, the disease infiltrated towns. The authorities recorded more than 2 000 cases, and Tedros said Wednesday the death toll stood at 207.\n', '\n', 'He also pointed to the presence of the pneumonic version, which spreads more easily and is more virulent, in the latest outbreak.\n', '\n', 'He praised the rapid response from WHO and Madagascar authorities that helped bring the outbreak under control, but warned that the danger was not over.\n', '\n', 'The larger-than-usual outbreak had helped spread the bacteria that causes the plague more widely.\n', '\n', 'This along with poor sanitation and vector control on Madagascar meant that "when (the plague) comes again it starts from more stock, and the magnitude in the next transmission could be higher than the one that we saw," Tedros said.\n', '\n', '"That means that Madagascar could be affected more, and not only that, it could even spill over into neighbouring countries and beyond," he warned.\n', '\n', 'Complicating vector control is the fact that the fleas that carry the Yersinia pestis bacteria that causes the plague have proven to be widely resistant to chemicals and insecticides.\n', '\n', '"That\'s a dangerous combination," Tedros said.\n']

In [35]:
# read from the csv file /data/data/en/train-labels-subtask-1.txt the label for the article

def read_task1_label(path):
    df = pd.read_csv(path, sep='\t', header=None)
    df.columns = ['article_id', 'label']
    return df

task1_df = read_task1_label(f"../data/data/en/train-labels-subtask-1.txt")
task1_df.head()

   article_id   label
0   833042063  satire
1   832959523  satire
2   833039623  satire
3   833032367  satire
4   814777937  satire

In [36]:
task1_df[task1_df['article_id'] == int(article_id)].label.values[0]

'opinion'

## Visualize the data for subtask 2

In [37]:
article_id = "111111111"

In [86]:
# read the csv file /data/data/en/train-labels-subtask-2.txt the label for the article

def read_task2_label(path):
    df = pd.read_csv(path, sep='\t', header=None)
    df.columns = ['article_id', 'label']
    return df

task2_df = read_task2_label(f"../data/data/en/train-labels-subtask-2.txt")
task2_df.head()

   article_id                                              label
0   833042063  Political,Morality,Fairness_and_equality,Exter...
1   832959523  Morality,Security_and_defense,Policy_prescript...
2   833039623  Political,Crime_and_punishment,External_regula...
3   833032367  Political,Crime_and_punishment,Fairness_and_eq...
4   814777937  Political,Morality,Fairness_and_equality,Exter...

In [87]:
# split label after ,
task2_df['label'] = task2_df['label'].apply(lambda x: x.split(','))

# get all labels and unpack list of labels
all_labels = task2_df.label.values.tolist()
all_labels

# unpack list of lists
for i, labels in enumerate(all_labels):
    if type(labels) == list:
        all_labels[i] = labels[0]

In [89]:
set(all_labels), len(set(all_labels))

({'Capacity_and_resources',
  'Crime_and_punishment',
  'Cultural_identity',
  'Economic',
  'External_regulation_and_reputation',
  'Fairness_and_equality',
  'Health_and_safety',
  'Morality',
  'Policy_prescription_and_evaluation',
  'Political',
  'Public_opinion',
  'Quality_of_life',
  'Security_and_defense'},
 13)

In [39]:
# get the label for the article
task2_df[task2_df['article_id'] == int(article_id)].iloc[0]['label']

'Health_and_safety,Quality_of_life'

## Visualize the data for subtask 3

In [40]:
article_id = "111111111"

In [41]:
# read the csv file /data/data/en/train-labels-subtask-3.txt the label for the article

def read_task3_label(path):
    df = pd.read_csv(path, sep='\t', header=None)
    df.columns = ['article_id', 'sentence_id', 'label']
    return df

task3_df = read_task3_label(f"../data/data/en/train-labels-subtask-3.txt")
task3_df.head()

   article_id  sentence_id                label
0   111111111            1                  NaN
1   111111111            3                Doubt
2   111111111            5  Appeal_to_Authority
3   111111111            7                  NaN
4   111111111            9                  NaN

In [42]:
# get the label for the article
task3_df[task3_df['article_id'] == int(article_id)]['label']

0                                              NaN
1                                            Doubt
2                              Appeal_to_Authority
3                                              NaN
4                                              NaN
5                                              NaN
6                                       Repetition
7                                              NaN
8                         Appeal_to_Fear-Prejudice
9                         Appeal_to_Fear-Prejudice
10                                             NaN
11    Appeal_to_Authority,Appeal_to_Fear-Prejudice
12                        Appeal_to_Fear-Prejudice
13                                             NaN
14                                             NaN
Name: label, dtype: object

In [43]:
# each sentence id shows which sentence is meant by the label. Print out each sentence with label - sentence

# take the content variable which has a list of the sentences and print out the sentence with the label

def print_sentence_with_label(content, label):
    for i, sentence in enumerate(content):
        print(f"{label[i-1]} - {sentence}")

print_sentence_with_label(content, task3_df[task3_df['article_id'] == int(article_id)]['label'].values)

nan - Geneva - The World Health Organisation chief on Wednesday said a deadly plague epidemic appeared to have been brought under control in Madagascar, but warned the next outbreak would likely be stronger.

nan -

Doubt - "The next transmission could be more pronounced or stronger," WHO Director-General Tedros Adhanom Ghebreyesus told reporters in Geneva, insisting that "the issue is serious."

Appeal_to_Authority -

nan - An outbreak of both bubonic plague, which is spread by infected rats via flea bites, and pneumonic plague, spread person to person, has killed more than 200 people in the Indian Ocean island nation since August.

nan -

nan - Madagascar has suffered bubonic plague outbreaks almost every year since 1980, often caused by rats fleeing forest fires.

Repetition -

nan - The disease tends to make a comeback each hot rainy season, from September to April. On average, between 300 and 600 infections are recorded every year among a population approaching 25 million people, according to a UN estimate.

Appeal_to_Fear-Prejudice -

Appeal_to_Fear-Prejudice - But Tedros voiced alarm that "plague in Madagascar behaved in a very, very different way this year."

nan -

Appeal_to_Authority,Appeal_to_Fear-Prejudice - Cases sprang up far earlier than usual and, instead of being confined to the countryside, the disease infiltrated towns. The authorities recorded more than 2 000 cases, and Tedros said Wednesday the death toll stood at 207.

Appeal_to_Fear-Prejudice -

nan - He also pointed to the presence of the pneumonic version, which spreads more easily and is more virulent, in the latest outbreak.

nan -

IndexError: index 15 is out of bounds for axis 0 with size 15

## Visualize the data for subtask 3 (span)

In [45]:
article_id = "111111111"

In [46]:
# read the csv data\data\en\dev-labels-subtask-3-spans\article{aticle_id}-labels-subtask-3.txt the label for the article

def read_task3_span_label(path):
    df = pd.read_csv(path, sep='\t', header=None)
    df.columns = ['article_id', 'label', 'start', 'end']
    return df

task3_span_df = read_task3_span_label(f"../data/data/en/train-labels-subtask-3-spans/article{article_id}-labels-subtask-3.txt")
task3_span_df.head()

   article_id                     label  start   end
0   111111111                     Doubt    149   157
1   111111111       Appeal_to_Authority    265   323
2   111111111                Repetition   1069  1091
3   111111111  Appeal_to_Fear-Prejudice   1334  1462
4   111111111  Appeal_to_Fear-Prejudice   1577  1616

In [47]:
# get the label for the article
task3_span_df[task3_span_df['article_id'] == int(article_id)]

   article_id                     label  start   end
0   111111111                     Doubt    149   157
1   111111111       Appeal_to_Authority    265   323
2   111111111                Repetition   1069  1091
3   111111111  Appeal_to_Fear-Prejudice   1334  1462
4   111111111  Appeal_to_Fear-Prejudice   1577  1616
5   111111111       Appeal_to_Authority   1795  1935
6   111111111  Appeal_to_Fear-Prejudice   1856  1910
7   111111111  Appeal_to_Fear-Prejudice   2023  2086

In [51]:
# give each label a color, color the defined span in the content and give a legend where the colors are defined
from IPython.display import Markdown, display
# create a dict which defines each label with a color based on label name in task3_span_df

def create_label_color_dict(df):
    labels = df['label'].unique()
    colors = sns.color_palette("hls", len(labels))
    return dict(zip(labels, colors))

# take color_dict, text, label, start and end as function input and return colored text

def color_text(color_dict, text, label, start, end):
    color = color_dict[label]
    colored_text = f"<span style='color:rgb({int(color[0]*255)},{int(color[1]*255)},{int(color[2]*255)}'>{text[start:end]}</span>"
    display(Markdown(colored_text))

# sample
color_dict = create_label_color_dict(task3_span_df)

In [52]:
from IPython.display import Markdown, display

def display_colored_text(title, content, task3_span_df, article_id, color_dict, active_selection):
    text = title + " " + "".join(content)
    colored_spans = []

    # Initialize a list to keep track of the span positions that have already been covered
    covered_positions = []

    # Iterate over the rows of the DataFrame and add the colored spans to the list
    for index, row in task3_span_df[task3_span_df['article_id'] == int(article_id)].iterrows():
        label = row['label']
        start = row['start']
        end = row['end']

        # Check if this span overlaps with any previously covered span
        overlap = any(start < end_prev and end > start_prev for start_prev, end_prev in covered_positions)

        # If it doesn't overlap, process and add the colored span
        if not overlap:
            color = color_dict[label]
            # Create a span with the appropriate color
            colored_span = f"<span style='color:rgb({int(color[0]*255)},{int(color[1]*255)},{int(color[2]*255)});'>{text[start:end]}</span>"
            colored_spans.append((start, end, colored_span))

        # Add the span's positions to the list of covered positions
        covered_positions.append((start, end))

    # Sort the colored spans by their start position
    colored_spans.sort(key=lambda x: x[0])

    # Combine all the colored spans into a single string
    colored_text = ""
    current_position = 0

    for start, end, span in colored_spans:
        # Append the uncolored text between the current position and the start of the colored span
        colored_text += text[current_position:start]
        colored_text += span
        current_position = end

    # Append any remaining uncolored text
    colored_text += text[current_position:]

    # Display the colored text and legend
    display(Markdown(colored_text))
    display(Markdown("### Legend"))
    for label, color in color_dict.items():
        display(Markdown(f"<span style='color:rgb({int(color[0]*255)},{int(color[1]*255)},{int(color[2]*255)});'>{label}</span>"))

    # Display the active selection
    if active_selection:
        display(Markdown("### Active Selection"))
        display(active_selection)

In [53]:
active_selection = None
display_colored_text(title, content, task3_span_df, article_id, color_dict, active_selection)

Next plague outbreak in Madagascar could be 'stronger': WHO
 Geneva - The World Health Organisation chief on Wednesday said a deadly plague epidemic <span style='color:rgb(219,94,86);'>appeared</span> to have been brought under control in Madagascar, but warned the next outbreak would likely be stronger.

"<span style='color:rgb(145,219,86);'>The next transmission could be more pronounced or stronger</span>," WHO Director-General Tedros Adhanom Ghebreyesus told reporters in Geneva, insisting that "the issue is serious."

An outbreak of both bubonic plague, which is spread by infected rats via flea bites, and pneumonic plague, spread person to person, has killed more than 200 people in the Indian Ocean island nation since August.

Madagascar has suffered bubonic plague outbreaks almost every year since 1980, often caused by rats fleeing forest fires.

The disease tends to make a comeback each hot rainy season, from September to April. On average, between 300 and 600 infections are recorded every year among a population approaching 25 million people, according to a UN estimate.

But Tedros voiced alarm that "plague in Madagascar behaved in <span style='color:rgb(86,211,219);'>a very, very different</span> way this year."

Cases sprang up far earlier than usual and, instead of being confined to the countryside, the disease infiltrated towns. The authorities recorded more than 2 000 cases, and Tedros said Wednesday the death toll stood at 207.

<span style='color:rgb(160,86,219);'>He also pointed to the presence of the pneumonic version, which spreads more easily and is more virulent, in the latest outbreak</span>.

He praised the rapid response from WHO and Madagascar authorities that helped bring the outbreak under control, <span style='color:rgb(160,86,219);'>but warned that the danger was not over</span>.

The larger-than-usual outbreak had helped spread the bacteria that causes the plague more widely.

This along with poor sanitation and vector control on Madagascar meant that "<span style='color:rgb(145,219,86);'>when (the plague) comes again it starts from more stock, and the magnitude in the next transmission could be higher than the one that we saw</span>," Tedros said.

"That means that Madagascar could be affected more, and not only that, <span style='color:rgb(160,86,219);'>it could even spill over into neighbouring countries and beyond</span>," he warned.

Complicating vector control is the fact that the fleas that carry the Yersinia pestis bacteria that causes the plague have proven to be widely resistant to chemicals and insecticides.

"That's a dangerous combination," Tedros said.

### Legend

<span style='color:rgb(219,94,86);'>Doubt</span>

<span style='color:rgb(145,219,86);'>Appeal_to_Authority</span>

<span style='color:rgb(86,211,219);'>Repetition</span>

<span style='color:rgb(160,86,219);'>Appeal_to_Fear-Prejudice</span>

In [67]:
# get a set of all span labels used in the all articles

# read csv data\data\en\train-labels-subtask-3.txt

span_df = pd.read_csv(f"../data/data/en/train-labels-subtask-3.txt", sep='\t', header=None)
span_df.columns = ['article_id', 'sentence_id', 'label']

# split label column after , if there are multiple labels
span_df['label'] = span_df['label'].apply(lambda x: x.split(',') if type(x) == str else x)

In [69]:
span_df.head()

   article_id  sentence_id                  label
0   111111111            1                    NaN
1   111111111            3                [Doubt]
2   111111111            5  [Appeal_to_Authority]
3   111111111            7                    NaN
4   111111111            9                    NaN

In [78]:
# get all labels and unpack list of labels
all_labels = span_df.label.values.tolist()
all_labels

# unpack list of lists
for i, labels in enumerate(all_labels):
    if type(labels) == list:
        all_labels[i] = labels[0]

In [83]:
set(all_labels)

{'Appeal_to_Authority',
 'Appeal_to_Fear-Prejudice',
 'Appeal_to_Hypocrisy',
 'Appeal_to_Popularity',
 'Causal_Oversimplification',
 'Conversation_Killer',
 'Doubt',
 'Exaggeration-Minimisation',
 'False_Dilemma-No_Choice',
 'Flag_Waving',
 'Guilt_by_Association',
 'Loaded_Language',
 'Name_Calling-Labeling',
 'Obfuscation-Vagueness-Confusion',
 'Red_Herring',
 'Repetition',
 'Slogans',
 'Straw_Man',
 'Whataboutism',
 nan}